geopandas==0.12.2
global-land-mask==1.0.0
ipykernel==6.21.2
numpy==1.24.2
#opendrift==1.10.5 -> currently yields error when downloading GDAL library
pandas==1.5.3
plotly==5.13.1
scikit-learn==1.2.1
scipy==1.10.1
seaborn ==0.12.2

